@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --medallo-purpleDark: #240053;
  --medallo-purpleLight: #410f83;
  --medallo-yellow: #f4c82b;
  --medallo-salmon: #f4967f;
}

.gradient {
  /* Main gardient */
  background: radial-gradient(
    86.88% 86.88% at 13.6% 69.5%,
    rgba(182, 226, 247, 0.22) 0%,
    rgba(236, 178, 145, 0.1474) 61.89%,
    rgba(236, 145, 172, 0.22) 100%
  );
}
.gradient-dark {
  /* Main gardient */
  background: radial-gradient(50% 50% at 50% 50%, #410f83 0%, #240053 100%);
}

.gradient-polar {
  background: linear-gradient(180deg, #f0f8fc 0%, rgba(240, 248, 252, 0) 100%);
}

.gradient-linen {
  background: linear-gradient(180deg, #fcf3ef 0%, rgba(252, 243, 239, 0) 100%);
}
.gradient-linen-opa {
  background: linear-gradient(
    180deg,
    #fcf3ef 0%,
    rgba(252, 243, 239, 100) 100%
  );
}

.richtext {
  @apply text-comet;
  @apply mx-10;
}
.richtext p {
  @apply pb-5;
  @apply tracking-normal;
}
.richtext h2,
.richtext h3 {
  @apply text-2xl;
  @apply font-sans;
  @apply font-bold;
  @apply mt-10;
  @apply mb-5;
}
.richtext ul {
  @apply bg-gray-50;
  @apply pt-10;
  @apply pr-10;
  @apply pb-5;
  @apply pl-5;
  @apply rounded-3xl;
}
.richtext li {
  @apply list-disc;
  @apply ml-5;
  @apply pb-3;
  @apply tracking-normal;
}

.richtext a {
  @apply text-mulberry;
}
