@charset "utf-8";
// Import a Google Font
// @import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

// Set your brand colors
$primary: #663399;
$primary-dark: #52297b;
$primary-invert: #e8ff57;

// Update Bulma's global variables
$family-sans-serif: "Metal+Mania", sans-serif;

@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/elements/_all";
@import "node_modules/bulma/sass/form/_all";
@import "node_modules/bulma/sass/components/_all";
@import "node_modules/bulma/sass/grid/_all";
@import "node_modules/bulma/sass/layout/_all";
